.dietGrid {
    display: grid;
    grid-template-columns: 10% repeat(4, 20%) 10%;
    grid-template-rows: repeat(3, 250px);
    grid-gap: 25px;
    justify-items: center;
}

.eatThisGrid {
    grid-column: 2/4;
}

.notThatGrid {
    grid-column: 4/6;
}

.gridImageContainer {
    grid-column: span 2;
    height: 250px;
}

.gridImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.gridImage-4 {
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}